@{
    ViewData["Title"] = "Home Page";
}

    <div>
        <h1>Please make a selection</h1>
        <ul>
            <li><strong>@Html.ActionLink("Get People - Use Console Logger", "UseConsoleLogger", "People")</strong></li>
            <li><strong>@Html.ActionLink("Get People - Use File Logger", "UseFileLogger", "People")</strong></li>
        </ul>
    </div>
