@{
    ViewData["Title"] = "Home Page";
}

    <div>
        <h1>Please make a selection</h1>
        <ul>
            <li><strong>@Html.ActionLink("Get People from a Runtime Reader", "UseRuntimeReader", "People")</strong></li>
        </ul>
    </div>
